<!DOCTYPE html>
<html>
  <head>
    <title>Immobilia | Casas, Departamentos y más</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <header>
  	<div class="topbar">
  		<div class="brand navg" >
  			<a href=""><img src="/assets/icon.png" width="55px"> <span class="sitetitle">Immobilia.com</span></a>
  		</div>
  		<div class="navbar navg">
  			<nav class="menu navg">
  				<a href="#">En Arriendo</a>
  				<a href="#">En Venta</a>
  			</nav>
  			<div class="m_search navg">
  				<div class="search navg">
  					<form class="" action="/search">
  						<input type="text" name="search" placeholder="Buscar...">
  					</form>
  				</div>
  				<nav class="navg sesion ">
  					<a href="">Entrar</a>
  					<span>|</span>
  					<a href="">Registrarse</a>
  				</nav>
  			</div>
  		</div>
  	</div> 		
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
  	<p class="copy">@2017 Immobilia ®</p>
  </footer>
</html>
